<% provide(:title, 'Martin Leib') %>
<h1>StaticPages#profile</h1>
<div class="vcard" id="hcard-Martin-Leib">
<img src="http://circuitqed.net/wp-content/uploads/2013/02/profile.jpg" id="profilePic" alt="Martin Leib" width="300" height="199" class="alignnone size-full wp-image-168" />
<a class="fn" href="http://www.circuitqed.net">Martin Leib</a>
<div class="org">TU München</div>
<a class="email" href="mailto:MartinLeib@circuitQED.net">MartinLeib@circuitQED.net</a>
<div class="tel">089/289-14115</div>
<a class="googleplus" href="https://plus.google.com/111188873345118692750" rel="me">Google+ Profile</a>
</div>
